layout {

    focus-ring {
        active-color   "#8dcff2"
        inactive-color "#0f1417"
    }

    border {
        active-color   "#8dcff2"
        inactive-color "#0f1417"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#8dcff2"
        inactive-color "#004d67"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#8dcff280"
    }
}

recent-windows {
    highlight {
        active-color "#8dcff2"
        urgent-color "#ffb4ab"
    }
}
