window-rule {
    match app-id="kitty"
    open-maximized false

    background-effect {
	blur true
    }
}

window-rule {
    match app-id="vesktop"
    match app-id="brave"
    match app-id="code"
    match app-id="nautilus"
    match app-id="steam"

    draw-border-with-background false
    opacity 0.8
    open-maximized true
    
    background-effect {
	blur true
    }
}

window-rule {
    match title="^Friends List*"
    open-floating true
}

window-rule {
    match app-id="jetbrains-idea"
    match app-id="Spotify"
    match app-id="code"
    match app-id="brave-browser*"
    match app-id="vesktop"
    default-column-width { proportion 0.5; }
    open-maximized true
}

window-rule {
    match app-id="jetbrains-idea"
    match app-id="steam_app_default"
    open-on-output "DP-1"
}
